.main-notify {
    height: 80px;
    padding: 10px;
    color: white;
    background: linear-gradient(to bottom right, #363b00, #103b74, #1069a2, #3d078b)
  }
  
h3 {
  color: rgb(0, 0, 0);
}

.container {
  margin: auto; 
}